* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.item {
  width: 100px;
  height: 100px;
  background-color: blueviolet;
  padding: 10px;
  border: 6px solid salmon;
  margin: 10px;
}
